<% content_for :heading, "Cliente: #{@client.first_name} #{@client.last_name}"%>

<div class="row mb-3">
  <div class="col-12 col-md-6">
    <p>
      <strong>Nombre:</strong>
      <%= @client.first_name %>
    </p>

    <p>
      <strong>Apellido:</strong>
      <%= @client.last_name %>
    </p>

    <p>
      <strong>DNI:</strong>
      <%= @client.dni %>
    </p>

    <a class="btn btn-outline-success" download="<%= @client.dni %>.png" href="data:image/png;base64,<%= @client.get_barcode %>">Descargar código de barras</a>
  </div>

  <div class="col-12 col-md-6">
    <p>
      <strong>Número de teléfono:</strong>
      <%= @client.phone_number %>
    </p>

    <p>
      <strong>Fecha de Nacimiento:</strong>
      <%= @client.birthday %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @client.email %>
    </p>

    <%= link_to 'Descargar ficha medica', rails_blob_path(@client.medic_file, disposition: :attachment), class: 'btn btn-outline-success' %>
  </div>
</div>

<h3>Actividades Asignadas</h3>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Actividad</th>
        <th>Cuota actual paga</th>
      </tr>
    </thead>
    <tbody>
      <% @activities.each do |activity| %>
        <tr>
          <td><%= activity.activity.name %></td>
          <td>
            <% if activity.can_access %>
              <span class="badge bg-success" style="padding: 7px 15px">Si</span>
            <% else %>
              <span class="badge bg-danger" style="padding: 7px 15px">No</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<hr>

<h3>Cuotas</h3>

<%= simple_form_for(@subscription) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="mb-3">
      <%= f.input :initial_date, label: 'Mes', discard_day: true, discard_year: true %>
    </div>

    <div class="mb-3">
      <%= f.association :activity, label_method: :to_label, prompt: "Selecciona una actividad" %>
    </div>

    <div class="mb-3">
      <%= f.hidden_field :client_id, value: @client.id %>
    </div>
  </div>

  <div class="form-actions mb-3">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Cuota</th>
      <th>Precio</th>
      <th>Pagada</th>
      <th>Actividad</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @client.subscriptions.order("initial_date DESC").each do |subscription| %>
      <tr>
        <td><%= subscription.initial_date.strftime("%m/%Y") %></td>
        <td><%= number_to_currency(subscription.price) %></td>
        <td><%= subscription.payed ? "Si" : "No" %></td>
        <td><%= subscription.activity.name %></td>
        <% if !subscription.payed %>
          <td>
            <%= form_for @payment do |f| %>
              <%= f.hidden_field :subscription_id, value: subscription.id %>
              <%= f.hidden_field :amount, value: subscription.price %>
              <%= f.button "Pagar", class: "btn btn-link p-0 border-0" %>
            <% end %>
          </td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to 'Editar', edit_subscription_path(subscription) %></td>
        <td><%= link_to 'Eliminar', subscription, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Editar', edit_client_path(@client), class: "btn btn-primary me-3" %>
<%= link_to t(:back), clients_path, class: "btn btn-secondary" %>