<p id="notice"><%= notice %></p>

<p>
  <strong>Initial date:</strong>
  <%= @subscription.initial_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @subscription.end_date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @subscription.price %>
</p>

<p>
  <strong>Payed:</strong>
  <%= @subscription.payed %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @subscription.activity_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @subscription.client_id %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
