<!DOCTYPE html>
<html>
  <head>
    <title>GymErp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <% if flash[:alert] %>
      <div class="alert alert-danger mt-3">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-primary mt-3">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <main class="container">
      <div class="card mt-3">
        <div class="card-header"><%= yield :heading %></div>
        <div class="card-body">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
